<% provide :title, t("carts.shopping_title") %>

      <div class="cart">
        <div class="page-content page-order">
          <div class="page-title">
            <h2><%= t "carts.shopping_title" %></h2>
          </div>
          <%= render "shopping_cart" %>
        </div>
      </div>
