@import 'bootstrap-sprockets';
@import 'bootstrap';
// @import 'login';
// @import 'sidebar';
// @import 'admin/all';
// @import 'show';
@import 'vendor/bootstrap.min';
@import 'vendor/plugins';
@import 'vendor/style';
@import 'vendor/spacing.min';

.category_item {
  margin-top: 0px;
  visibility: visible;
  animation-name: fadeInLeft;
}
