<div class="col-md-3 category__item">
  <div class="">
    <%= link_to product.name, admin_product_path(product) %>
  </div>
  <% if logged_in? %>
    <%= link_to "#", method: :delete, remote: true, class: "category_delete-btn" do %>
      <span class="glyphicon glyphicon-plus"></span>
    <% end %>
  <% end %>
<%= image_tag product.picture.url %>
<div><%= product.price %></div>
</div>
